<!DOCTYPE html>
<html>
<head>
  <title>Address Picker Rails -- Demo</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<h1 class="banner">
  <%= link_to(root_path) do %>
      <img src="https://secure.gravatar.com/avatar/6b55b77db70a52f71e1239e6509c0a17">
      Address Picker Rails -- Demo
  <% end %>
</h1>

<p>
  This is a little demo application for
  <a href="https://github.com/ddidier/address_picker-rails" target="_blank">https://github.com/ddidier/address_picker-rails</a>.
</p>

<br />

<p>
  <%= yield %>
</p>

</body>
</html>
